input[type="checkbox"].peer {
    background-color: #fff;
    border: 2px solid #d1d5db;
    position: relative;
}

input[type="checkbox"].peer:checked::before {
    content: "✔";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: green;
}